body {
	background-color: white;
	width: 0 auto; 
	margin: 0 auto; 
	padding: 10px, 5px;
}

#graybackground {
	background-color: rgb(222, 222, 222);
	width: 0 auto;
	margin: 15px;
	padding: 10px, 5px ;
}

#anchor_text { 
	background-color: black;
	color: white;
	text-align: center;
	text-decoration: none;
	
}

p {
	background-color: red;
	color: black;
	margin: 15px;
	padding: 5px, 5px, 5px, 5px;
	display: block;
}

#one {
	color: blue;
}

#two {
	color: green;
}

#three {
	color: yellow;
}
.cssmainTextClassPractice {
	color: white;
}



div {
	background-color: black;
	display: inline ;