body {
	padding: 0;
	margin: auto 0;	
	/*background-color: rgb(64,52,64);*/
	font-family: 'Muli', sans-serif;
	background: url("../images/uni-ver-se.jpg");
    background-repeat: repeat;

}

.container {
	width: 100%;
	font-family: 'Muli', sans-serif;
	line-height: 2;
	font-weight: 300;
	/*background-color: rgb(64,52,64);*/
	text-align: center;
}

.navi a{
	color: white;
	text-decoration: none;
	font-size: 32px;
	text-align: right;
	padding: 2px 8px;
}

.navi a:hover {
	color: rgb(255,104,34);
}

h1 {
	font-size: 40px;
	color: rgb(255,104,34);
	font-weight: 300;
}


h2 {
	color: rgb(64,48,117);
}

.content {
	color: white;
}


p a{
	color: rgb(255,104,34);
	text-decoration: none;
}

p a:hover {
	color: black;
}

.adUnit {
	position: center;
	text-align: center;
	
	
}

