body {
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
	background-color: #000000;
	color: white;
}  

.topHeader {
	text-align: center;
	color: rgb(189,51,0);
	text-decoration: none;
	font-family: 'Slabo 27px', serif;
	font-size: 60px;
	font-weight: 300;
}

.soundSync{
	font-family: 'Slabo 27px', serif;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
	max-width: 1440px;
	font-size: 32px;
	line-height: 4px;
	background: #FFBB00;
	border-bottom: 10px solid #5E5E5D;
}


.wrapper {
	max-width: 1440px;
	margin: 0 auto;

}

.wrapper div {
	display: inline;
	padding: 30px 25px;

}

.wrapper div li{
	list-style-type:none;
}



.wrapper li a {
	max-width: 1440x;
	margin: auto;
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
}

a:hover{
	color: #FFBB00;
	background-color: rgb(189,51,0);
}


#song {
	margin: 0 auto;
	padding: 0;
	font-family: 'Slabo 27px', serif;
	font-size: 32px;
	color: #FFBB00;
	position: absolute;
    top: 0px;
    left: 180px;
}


.contain {
	position: relative;
}

#action {
	margin: 0 auto;
	padding: 0;
	font-family: 'Slabo 27px', serif;
	color: rgb(189,51,0); 
	
}

.artist {
	position: absolute;
    top: 9px;
    left: 260px;
}

.tempo {
	text-decoration: none;
	display: inline;
	margin: 0 auto;
	padding: 2px 8px;
	float: right;
	position: absolute;
    top: 9px;
    left: 435px;
}

.year {
	text-decoration: none;
	display: inline;
	margin: 0 auto;
	padding: 2px 8px;
	float: right;
	position: absolute;
    top: 9px;
    left: 363px;
}

